//client/styles/styles.scss
$sky-50:#f0f9ff;
$sky-100:#e0f2fe;
$sky-200:#bae6fd;
$sky-300:#7dd3fc;
$sky-400: #38bdf8;
$sky-500: #0ea5e9;
$sky-600: #0284c7;
$sky-700: #0369a1;
$sky-800: #075985;
$sky-900: #0c4a6e;
$zinc-50: #fafafa; 
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #a1a1aa;
$zinc-500: #71717a;
$zinc-600: #52525b;
$zinc-700: #3f3f46;
$zinc-800: #27272a;
$zinc-900: #171717;

body{
    background-color:$sky-100;
    color:$zinc-600;
    margin: 0px; 
    font-family: 'Raleway', sans-serif;
    
}


.navbar {
  display: flex; 
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $zinc-100;
  padding: 0.5rem; 
}

.searchbar-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:2rem;
}

.searchbar {
    background-color: $sky-100;
    display: flex; 
    justify-content: center;
    padding: 1rem; 
    align-items: center; 
    width:100%;
    .search-input{
        display:flex; 
        justify-content:space-evenly;
        align-items:center;
        gap:2rem;
        width:400px;
        margin-right:2rem;
        padding:1.5rem;
        border:1px solid $zinc-600;
        border-radius:0.5rem;
        background-color:$sky-50;
        font-size:2.5rem;
        color:$zinc-600;
    }
    .search-btn{
        text-decoration:none;
        border:none;
        border-radius:0.5rem;
        padding:1rem;
        background-color:$sky-300;
        color:$zinc-600;
        transition: 0.3s;
        font-size:1rem;
        font-weight:200;
        &:hover{
            background-color:$sky-400;
            cursor:pointer;
        }
        &:active{
            background-color:$sky-500;
        }
    }

}

.signup-div, .login-div{
    background-color:$sky-100;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:4rem;
    .signup-form, .login-form{
        background-color:$sky-200;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:0.5rem;
        padding:2rem;
        border-radius:0.5rem;
        margin:0.5rem;
        h2{
            font-weight:400;
        }
        .form-input{
            border:none;
            border-radius:0.25rem;
            padding: 0.25rem;
        }
    }
}

.submit-btn{
    text-decoration:none;
    border:none;
    border-radius:0.5rem;
    padding:0.5rem;
    background-color:$sky-200;
    color:$zinc-600;
    transition: 0.3s;
    &:hover{
        background-color:$sky-300;
        cursor:pointer;
    }
    &:active{
        background-color:$sky-400;
    }
}

.cardContainer-div {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  text-align: center; 
  width:100%;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

.card {
    background-color: $sky-100; 
    color:$zinc-200;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    
    .card-header {
        display:flex;
        justify-content:center;
        align-items:center;
        gap:1rem;
        font-style: bold;
        width:100%;
        color:$zinc-800;
        svg{
             &:hover{
                color:red;
             }
        }
    }
    .statList{
        list-style:none;
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap:1rem; 
        width:100%;
        padding:0;
    }
    
    .cardStatLabel {
    font-style: bold;
    }

}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }



